<div class="menu"> 	
			<div class="top-nav"> 
					<ul>
						<li class="active"><a href="/">Trang chủ</a></li>
						<li><a href="/about">Thông tin</a></li>
						<li><a href="/specials">Loại xe</a></li>
						<li><a href="/new">Mới</a></li>
						<li><a href="/contact">Liên hệ</a></li>
						<li>
							<div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                	<img src="images/people.png">
                                </button>
                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="#">Đăng kí</a>
                                    <a class="dropdown-item" href="#">Đăng nhập</a>
                                </div> 
                        	</div>		
						</li>
					</ul>
					<div class="clear"></div> 
				</div>
		</div>