<div class="col-lg-3" id="menuAdminTop">
            	<div id="ten">
                	<h3>Car-Online</h3>
                	<p id="adminpage">Admin page</p>
                </div>
                    <img src="../images/mail.png" id="icon1" />
                    	<span>
                        	<img src="../images/bell.png" id="icon2" />
                        </span>
                <br />
                <div id="menuAdmin">
                	
                    <div id="taikhoan">
                    	<a href="/admin"><img src="../images/people.png" /></a>
                        <span id="text"><a href="/admin">Quản lý tài khoản</a></span>
                        <hr />
                    </div>
                    <div id="hethong">
                    	<a href="/Admin/quanlycuahang"><img src="../images/branch.png" /></a>
                         <span id="text"><a href="/Admin/quanlycuahang">QLHT cửa hàng</a></span>
                        <hr />
                    </div>
                    <div id="Sanpham">
                    	<a href="/Admin/quanlyhanghoa"><img src="../images/products.png"/></a>
                         <span id="text"><a href="/Admin/quanlyhanghoa">QL Hàng hóa</a></span>
                        <hr />
                    </div>
                    <div id="donhang">
                    	<a href="/Admin/quanlydonhang"><img src="../images/donhang.png" /></a>
                         <span id="text"><a href="/Admin/quanlydonhang">QLHT đơn hàng</a></span>
                        <hr />
                    </div>
                    <div id="thongke">
                    	<a href="/Admin/thongke"><img src="../images/thongke.png"/></a>
                         <span id="text"><a href="/Admin/thongke">Thống kê</a></span>
                        <hr />
                    </div>
					 <div id="quayve">
                    	<a href="/"><img src="../images/back.png"/></a>
                         <span id="text"><a href="/">Quay về trang bán</a></span>
                        <hr />
                    </div>
                </div>
            </div>