<!DOCTYPE HTML>
<html>
<head>
    <title>Free Cars-Online Website Template | Specials :: w3layouts</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="h-bg">
			<div class="total">
				<div class="header">

					<div class="header-bot">
						<div class="logo">
							<a href="index.html"><img src="/images/logo.png" alt=""/></a>
						</div>
						<div class="search">
						    <input type="text" class="textbox" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						    <button class="gray-button"><span>Search</span></button>
				       </div>
					<div class="clear"></div> 
				</div>		
		</div>	
		<% include layoutMenu%>
		<div class="banner-top">	
				<div class="khungtrangcanhan">
				<div class="container">	
					<div class="row">
						<h3>Thông tin cá nhân</h3>
					</div>
					<div class="row">
						<div class="col-3">
							<img src="images/pic8.jpg">
						</div>
						<div class="col-5">
							<h4>Tran Ngoc Quang</h4>
							<p>Số điện thoại: 0123456789</p>
							<p>Email: quang@gmail.com</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<h3>Sản phẩm đã mua</h3>
					</div>
					<div class="row">
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col"></th>
							  <th scope="col">Sản phẩm</th>
							  <th scope="col">Giá tiền</th>
							  <th scope="col">Ngày mua</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">1</th>
							  <td>BMW i8</td>
							  <td>900000$</td>
							  <td>20/04/2019</td>
							</tr>
							<tr>
							  <th scope="row">2</th>
							  <td>Lamborghini</td>
							  <td>2000000$</td>
							  <td>21/04/2019</td>
							</tr>
							<tr>
							  <th scope="row">3</th>
							  <td>Bugatti Veyron</td>
							  <td>1500000$</td>
							  <td>22/04/2019</td>
							</tr>
						  </tbody>
						</table>
					</div>				

				</div>
			</div>	

		</div>
        <% include layoutFooter%>
</div>
</div>
</div>
</div>
</div>
</body>
</html>