<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/styleAdmin.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
    	<div class="row">
        	<div class="col-lg-3" id="menuAdminTop">
            	<div id="ten">
                	<h3>Car-Online</h3>
                	<p id="adminpage">Admin page</p>
                </div>
                    <img src="/images/mail.png" id="icon1" />
                    	<span>
                        	<img src="/images/bell.png" id="icon2" />
                        </span>
                <br />
                <div id="menuAdmin">
                	
                    <div id="taikhoan">
                    	<a href="#"><img src="../images/people.png" /></a>
                        <span id="text"><a href="#">Quản lý tài khoản</a></span>
                        <hr />
                    </div>
                    <div id="hethong">
                    	<a href="#"><img src="/images/branch.png" /></a>
                         <span id="text"><a href="#">QLHT cửa hàng</a></span>
                        <hr />
                    </div>
                    <div id="Sanpham">
                    	<a href="#"><img src="/images/products.png"/></a>
                         <span id="text"><a href="#">QL Hàng hóa</a></span>
                        <hr />
                    </div>
                    <div id="donhang">
                    	<a href="#"><img src="/images/donhang.png" /></a>
                         <span id="text"><a href="#">QLHT đơn hàng</a></span>
                        <hr />
                    </div>
                    <div id="thongke">
                    	<a href="#"><img src="/images/thongke.png"/></a>
                         <span id="text"><a href="#">Thống kê</a></span>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-lg-9" id="contentAdmin">
            	<div id="tb1">
                	<div id="title">
                    	<h2>Quản lý Tài Khoản</h2>
                    </div>
                    <table class="table" id="table">
                        <thead class="thead-dark">
                            <tr>
                               <th scope="col">#</th>
                               <th scope="col">Email</th>
                               <th scope="col">Tên tài khoản</th>
                               <th scope="col">Mật khẩu</th> 
                            </tr>
                      </thead>
                      <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Phanducquan@gmail.com</td>
                              <td>Quan</td>
                              <td>@123456</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Quang@gmail.com</td>
                              <td>Quang</td>
                              <td>123456</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Hau@gmail.com</td>
                              <td>Hau</td>
                              <td>123456</td>
                            </tr>
                      </tbody>
                    </table>
                    <a href="#"><button value"" id="them">Thêm tài khoản</button></a>
                    <span>
                    	<a href="#"><button value="" id="them">Xóa tài khoản</button></a>
                        	<span>
                    			<a href="#"><button value="" id="them">Sửa tài khoản</button></a>
                            </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
