<header>
    <div class="container-fluid">
        <div class="row fixed-top" id="menu">
            <!--Menu left-->
            <nav class="navbar navbar-expand-sm justify-content-between w-100">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><h3 id="logo">CAR_ONLINE</h3></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/list_products/<%=1%>">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dịch  vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lịch sử</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                    <li class="nav-item">

                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="#" style="position: relative;"><img id="img_search_header" src="/images/icon-search.png"/>
                            <input type="text" id="input_search_header" placeholder="Tìm kiếm sản phẩm ...">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my_profile"><img src="/images/people.PNG"></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><button>Sign in</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign_up"><button>Sign up</button></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="card-fluid-custom fixed-bottom  d-flex" id="my_cart">
    <a href="/cart" id="my-cart">
        <button id="btn-my-cart" style="background-color: rgb(16, 147, 81)">
            <img src="/images/cart.PNG">
            <span>Giỏ hàng</span>
        </button>
    </a>
</div>