/* CSS Document */
.form-left{
	/*border-right: 1px #DCDCDC solid;*/
	height: 100vh;
}
.form-selection{
	margin-top: 20px;
}
.media-body{
	margin-left: 20px;
	margin-top: 5px;
}
.media-heading{
	color: #808080;
}
.media-heading:hover{
	color: #00BFFF;
}
.media-object1:hover{
	content: url("../image-admin/user-blue.png");
}
.media-object2:hover{
	content: url("../image-admin/shop-store-blue.png");
}
.media-object3:hover{
	content: url("../image-admin/box-closed-blue.png");
}
.media-object4:hover{
	content: url("../image-admin/bill-blue.png");
}
.media-object5:hover{
	content: url("../image-admin/diagram-blue.png");
}
.col-9{
	background:#F3FAF9;
}
.form-content{
	margin-top: 120px;
	background: #FFFFFF;
	height: 100vh;
	margin-bottom: 120px;
}
.form-content td, th{
	color: #808080;
}