<div class="clear"></div>
		<div class="footer-bottom">
			<div class="copy">
				<p>&copy 2013 Cars Online . All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
			</div>
		</div>