
<!DOCTYPE HTML>
<html>
<head>
	<title>Free Cars-Online Website Template | New :: w3layouts</title>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href='//fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>   
</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="h-bg">
			<div class="total">
				<div class="header">
										</div><div class="clear"></div> 
					<div class="header-bot">
						<div class="logo">
							<a href="index.html"><img src="/images/logo.png" alt=""/></a>
						</div>
						<div class="search">
						    <input type="text" class="textbox" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						    <button class="gray-button"><span><a href="/specials">Search</a></span></button>
				       </div>
					<div class="clear"></div> 
				</div>		
		</div>	
		<% include layoutMenu%>
		<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images">
				     	<div class="content-wrapper">		  
						<div class="content-top">
							  	<div class="about_wrapper"><h3>Sản phẩm nổi bật</h3>
								</div>
							 <div class="text"> 	
								<div class="grid_1_of_3 images_1_of_3">
									<div class="grid_1">
										<a href="/ChiTietSanPham"><img src="images/pic12.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">siêu xe</p>
												<p class="title1">thể thao, thời trang hiện đại</p>
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$66.00</span>
								        				<span class="actual">$12.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a href="/giohang"><img src="/images/cart.png" alt=""/></a>
														</div>
														<button class="button"><span> <a href="/ChiTietSanPham">chi tiết</a>></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
							</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="/ChiTietSanPham"><img src="/images/pic13.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">siêu xe</p>
												<p class="title1">thể thao, thời trang hiện đại</p>
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$66.00</span>
								        				<span class="actual">$12.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a href="/giohang"><img src="/images/cart.png" alt=""/></a>
														</div>
														<button class="button"><span> <a href="/ChiTietSanPham">chi tiết</a>></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="/ChiTietSanPham"><img src="/images/pic14.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">siêu xe</p>
												<p class="title1">thể thao, thời trang hiện đại</p>
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$66.00</span>
								        				<span class="actual">$12.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a href="/giohang"><img src="/images/cart.png" alt=""/></a>
														</div>
														<button class="button"><span> <a href="/ChiTietSanPham">chi tiết</a>></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div><div class="clear"></div>
								</div>
						</div>
						<div class="content-top">
							  	<div class="box_wrapper"><h3>Sản phẩm của tương lai</h3>
								</div>
							 <div class="text"> 	
								<div class="grid_1_of_3 images_1_of_3">
									<div class="grid_1">
										<a href="/ChiTietSanPham"><img src="/images/pic15.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">siêu xe</p>
												<p class="title1">thể thao, thời trang hiện đại</p>
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$66.00</span>
								        				<span class="actual">$12.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a href="/giohang"><img src="/images/cart.png" alt=""/></a>
														</div>
														<button class="button"><span> <a href="/ChiTietSanPham">chi tiết</a>></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
							</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="/ChiTietSanPham"><img src="/images/pic16.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">siêu xe</p>
												<p class="title1">thể thao, thời trang hiện đại</p>
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$66.00</span>
								        				<span class="actual">$12.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a href="/giohang"><img src="/images/cart.png" alt=""/></a>
														</div>
														<button class="button"><span> <a href="/ChiTietSanPham">chi tiết</a>></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="/ChiTietSanPham"><img src="/images/pic17.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">siêu xe</p>
												<p class="title1">thể thao, thời trang hiện đại</p>
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$66.00</span>
								        				<span class="actual">$12.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a href="/giohang"><img src="/images/cart.png" alt=""/></a>
														</div>
														<button class="button"><span> <a href="/ChiTietSanPham">chi tiết</a>></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div><div class="clear"></div>
								</div>
						</div>
				</div>
				<div class="paging">
		            <ul>
		                <li><a href="#" target="_parent">Trang trước</a></li>
		                <li><a href="#" target="_parent">1</a></li>
		                <li><a href="#" target="_parent">2</a></li>
		                <li><a href="#" target="_parent">3</a></li>
		                <li><a href="#" target="_parent">4</a></li>
		                <li><a href="#" target="_parent">5</a></li>
		                <li><a href="#" target="_parent">6</a></li>
		                <li><a href="#" target="_parent">Trang sau</a></li>
		            </ul>
       			</div>
		</div>
		<div class="header-para">
				<% include layoutLoaiXe%>
				
				<div class="box-title">
					<h4><span class="title-icon"></span><a href="#">nổi bật</a></h4>
				</div>
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
					  <img src="/images/pic21.jpg" alt=""/>
					   <img src="/images/pic24.jpg" alt=""/>
					   <img src="/images/pic25.jpg" alt=""/>
					   <img src="/images/pic27.jpg" alt=""/>
	 				</div>
					<div class="col_1_of_2 span_1_of_2">
						 <img src="/images/pic22.jpg" alt=""/>
					  	<img src="/images/pic23.jpg" alt=""/>
					  	<img src="/images/pic26.jpg" alt=""/>
					  	<img src="/images/pic28.jpg" alt=""/>
					  </div><div class="clear"></div>
		   		 </div>
				</div>
		</div>
		<% include layoutFooter%>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

    	
    	
            